/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------

    0. 	CSS Reset
	1. 	Navigation
	2.  Recipe Card
	3.  Single Recipe
	4.  Accordion Filter
	5.  Special Regime Filter
	6.  Search ingredients Filter
	7. 	Filter General Style
	8. 	Pagination
	9. 	Google Traduction Selector
	X. 	Default

----------------------------------------------------------------------------- */
.locale-selector {
    display: none!important;
}

/* -------------------------------------------------------------------------- */

/*	0. CSS Reset
/* -------------------------------------------------------------------------- */


html,
body {
    border: none;
    margin: 0;
    padding: 0;
}

*{
    outline:0;
    min-height: 0;
    min-width: 0;
    box-sizing: border-box;
    margin: 0;
    border: none;
}

blockquote::before,
blockquote::after {
    content: "";
}

/* -------------------------------------------------------------------------- */

/*	1. Navigation
/* -------------------------------------------------------------------------- */
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0;
    background-color: white;
    text-align: center;
    /*box-shadow: 0 4px 8px 2px rgb(40 40 40 / 20%);*/
}

.locale-selector {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    width: 100%;
    padding: 15px;
}

.locale-selector-item {
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

.locale-selector-item svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#google_language_translator {
    display: none!important;
}

.skiptranslate {
    display: none;
}

/* -------------------------------------------------------------------------- */
/*	2. Page organization
/* -------------------------------------------------------------------------- */
.container {
    display: flex;
    justify-content: center;
}

.posts-container {
    max-width: 800px;
}


/* -------------------------------------------------------------------------- */
/*	3. Post organization
/* -------------------------------------------------------------------------- */
.single-post {

}

.single-post figure {
    display: flex;
    justify-content: center;
    max-height: 450px;
}

.single-post figure img {
    height: 100%;
    max-height: inherit;
}

/* -------------------------------------------------------------------------- */
/*	4. Scroll to last post
/* -------------------------------------------------------------------------- */
.scroll-to-last-post {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 1px solid black;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.scroll-to-last-post:hover {
    cursor: pointer;
}

.accordion-header {
    display: inline-flex;
    align-items: center;
    position: relative;
}

.accordion-button {
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: 0;
}

.filter-btn-container {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: black;
    color: white;
    transition: 0.3s background-color, 0.3s color;
    font-size: 14px;
}

.filter-btn-container i {
    margin-right: 6px;
}

.accordion-button.collapsed .filter-btn-container {
    background-color: white;
    color: black;
}

.accordion-button.collapsed .filter-btn-container:hover, .accordion-button:hover .filter-btn-container{
    background-color: black;
    color: white;
}

.accordion-button:after {
    display: none;
}

.accordion-button:not(.collapsed) {
    color: inherit;
    background-color: inherit;
    box-shadow: inherit;
}

.accordion-button:focus {
    border-color: inherit;
    box-shadow: inherit;
}

.resetBtn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(100% + 15px);
    height: 100%;
    overflow: hidden;
    opacity: 0;
    width: 100%;

    font-size: 14px;
    font-weight: normal;

    transition: opacity 0.3s ease;
}

.resetBtn.show {
    opacity: 1;
}

.resetBtn .resetBtnGroup {
    display: flex;
    align-items: center;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.resetBtn.show .resetBtnGroup {
    transform: translateX(0);
    cursor: pointer;
}

.resetBtn span {
    text-decoration: underline;
}

.resetBtn:hover span {
    text-decoration: none;
}

.resetBtn i {
    margin-left: 8px;
    transform-origin: center;
    transition: none;
}

.resetBtn:hover i {
    transform: rotate(-360deg);
    transition: transform 0.5s ease;
}

@media (max-width: 575.98px) {
    .recipe-type-country {
        row-gap: 20px;
    }
}

/* -------------------------------------------------------------------------- */
/*	5. Special Regime Filter
/* -------------------------------------------------------------------------- */
.special-regime-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.special-regime-item-list {
    display: flex;
    flex-wrap: wrap;
    place-content: center left;
    align-items: center;
}

.special-regime-item {
    margin: 10px;
    padding: 10px;
    color: rgb(54, 47, 46);
    font-size: 16px;
    border: 1px solid white;
    border-radius: 15px;
    outline: 0;
    box-shadow: rgb(0 0 0 / 13%) 1px 2px 9px 0;

    transition: 0.3s border, 0.3s box-shadow;
}

.special-regime-item:nth-child(1) {
    margin-left: 0;
}

.special-regime-item[data-checked="checked"] {
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: rgb(0 0 0 / 13%) 1px 2px 9px 0;
}

.special-regime-item:hover, .special-regime-item label {
    cursor: pointer;
}

.special-regime-item:hover {
    box-shadow: rgb(0 0 0 / 25%) 1px 2px 15px 0;
}

.special-regime-item i {
    margin-right: 0;
    width: 0;
    color: white;
    transform: scaleX(0);
    transition: width 0.5s cubic-bezier(0.62, 0.58, 0.16, 1), margin-right 0.5s cubic-bezier(0.62, 0.58, 0.16, 1), color 0.2s cubic-bezier(0.62, 0.58, 0.16, 1), transform 0.5s cubic-bezier(0.62, 0.58, 0.16, 1);
}

.special-regime-item[data-checked="checked"] i {
    margin-right: 4px;
    width: 14px;
    color: inherit;
    transform: scaleX(1);
}

@media (max-width: 575.98px) {
    .special-regime-item {
        margin: 5px;
        padding: 8px;
        font-size: 15px;
        border-radius: 10px;
    }

    .special-regime-item:nth-child(1) {
        margin-left: 5px;
    }
}

/* -------------------------------------------------------------------------- */
/*	6. Search Ingredients Filter
/* -------------------------------------------------------------------------- */
.ingredients-container {

}

.ingredients-label {
    display: flex;
    align-items: center;
    min-width: 220px;
}

.ingredients-label label{
    cursor: pointer;
}

.ingredients-input-container > div {
    position: relative;
}

#ingredient-list {
    position: absolute;
    top: calc(100% + 15px);
    left: 0;
    right: 0;
    background-color: white;
    border-radius: 5px;
    font-family: sans-serif;
    padding: 5px;
    box-shadow: rgb(0 0 0 / 13%) 1px 2px 9px 0px;
    z-index: 1100;
}

#ingredient-list::before {
    content: ' ';
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 20px;
    transform: translate(0, -11px) rotate(45deg);
    width: 20px;
    height: 20px;
    background-color: white;
    box-shadow: -2px -2px 5px 0px rgb(0 0 0 / 5%);
}

#ingredient-list option {
    background-color: white;
    border-bottom: 1px solid rgb(0 0 0 / 5%);
    padding: 4px;
    margin-bottom: 1px;
    font-size: 16px;
    cursor: pointer;

    transition: 0.3s padding-left;
}

#ingredient-list option:hover {
    padding-left: 15px;
}

#ingredient-list option:nth-last-child(1) {
    border-bottom: none;
}

.ingredients-terms-list {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}

.ingredient-term {
    margin: 5px;
    padding: 5px 30px 5px 10px;
    color: rgb(54, 47, 46);
    font-size: 14px;
    border: 1px solid white;
    border-radius: 25px;
    outline: 0;
    box-shadow: rgb(0 0 0 / 13%) 1px 2px 9px 0;
    position: relative;
}

.ingredient-term-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ingredient-term-close i {
    cursor: pointer;
    font-size: 14px;
    border-radius: 50%;
    height: 17px;
    width: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;

    transition: 0.3s background-color, 0.3s color;
}

.ingredient-term-close i:hover {
    background-color: rgb(54, 47, 46);
    color: white;
}

.spinner-container {
    z-index: 1100;
}

.spinner-element {
    margin: 5px 8px;
}

.ingredient-error-message-container {
    margin-left: 5px;
}
/* -------------------------------------------------------------------------- */
/*	7. Filter General Style
/* -------------------------------------------------------------------------- */
#searchbox-main-input-container {
    position: relative;
}
#searchbox-main-input-container:after {
    content: " ";
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 2px;
    margin-left: 12px;
    width: calc(100% - 24px);
    background-color: black;
}

#searchbox-main-input {
    border: none;
    border-radius: 0;
    padding: 8px 6px;
    position: relative;
}

#searchbox-main-input:focus {
    box-shadow: none;
}

input[type=search]::-webkit-search-cancel-button {
    display: none;
}

#title-search-icon {
    border: none;
    background-color: inherit;
    color: black;
    cursor: pointer;
}

.close-btn-container {
    z-index: 1000;
    position: absolute;
    content: " ";
    top: 0;
    right: 52px;
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stick-container {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: black;
    cursor: pointer;
}

.stick-container:hover {
    background-color: white;

    transition: 0.3s background-color;
}

.stick {
    grid-area: 1 / 1 / 2 / 2;
    height: 10px;
    width: 2px;
    background-color: white;

    transition: 0.2s background-color;
}

.stick-container:hover .stick {
    background-color: black;
}

.left-stick {
    transform: rotate(45deg);
}

.right-stick {
    transform: rotate(-45deg);
}

/* -------------------------------------------------------------------------- */
/*	8. Pagination
/* -------------------------------------------------------------------------- */
.pagination {
    display: flex;
    justify-content: center;
    height: 40px;
}

.pagination-item {
    cursor: pointer;
    height: 100%;
    box-shadow: 0 3px 6px 1px rgb(20 20 20 / 15%);
    transition: box-shadow 0.3s ease;
}

.pagination-item:hover {
    box-shadow: 0 3px 10px 3px rgb(20 20 20 / 25%);
}

.pagination-item a {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: black;
    margin: 0 20px;
    transition: transform 0.3s ease;
}

.pagination-item:hover a {
    transform: scale(1.04);
}

.pagination-next {
    background-color: black;
    z-index: 9;
}

.pagination-next a {
    color: white;
}

.pagination-prev {
    background-color: white;
    z-index: 10;
}

@media (max-width: var(--mobileBreakpoint)) {

}
/* -------------------------------------------------------------------------- */
/*	9. Google Traduction Selector
/* -------------------------------------------------------------------------- */
#flags {
    width: fit-content!important;
}

#sortable {
    display: flex;
    gap: 15px;
}

/* -------------------------------------------------------------------------- */
/*	X. Default
/* -------------------------------------------------------------------------- */